.container {
    width: 100%;
    padding-left: 13%;
}

form {
    border: none;
    padding: 0;
}

form input, textarea {
    display: block;
    width: 80%;

}


h1 {
    font-weight: 800;
}

h2 {
    background-color: rgba(166,147,124,0.4);
    padding: 5px;
    width: 85%;
}

.formButton {
    margin: 20px 0;
}