
main {
    margin: 40px 40px 0 240px;
}

h4 {
    margin: 2% 0 10px 0;
    font-family: 'tgn-soft-round', 'Gill Sans', sans-serif;
    font-size: 20px;
}

h1 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 800;
}

h2 {
    margin-bottom: 20%;
}

/*------------------------ Top Section -------------------*/
.top {
    display: flex;
    flex-direction: row;
}

.jacketspec {
    width: 100%;
    border: 1px solid #0A3641;
    margin-right: 40px;
}


.jacketspec_left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 3%;
}

.jacketspec_right {
    width: 60%;
    height: 80%;
}

.rainjackets {
    margin: 0;
}

.rainjacket-card {
    margin: 0;
}

.yellowRainjacket {
    margin: 0 2%;
}


select { 
    outline: 0;
    width: 50%;
    height: 100%;
    padding: 7px;
    font-family: 'tgn-soft-round', 'Gill Sans', sans-serif;
    font-size: 1em;
    color: #A6937C;
    cursor: pointer;
    border: 2px solid #A6937C;
}

#add-to-cart {
    display: none;
}
.yellow:checked ~ .shopping-cart-dropdown {
    display: block;
}

.SucessMessage {
    display: none;
    margin-top: 2px;
    padding: 4px;
    color: green;
}

.sizeError {
    color: red;
    display: none;
}

.description {
    max-width: 70%;
}

.fitting-for {
    display: flex;
    flex-direction: row;
}

.hiking {
    margin-right: 5%;
}

.fa-hiking, .fa-campground {
    color: #D98E04;
    font-size: 2em;
    display: inline;
}

.cartButton {
    margin-top: 20px;
}
/*------------------------ Top section -------------------*/


/*------------------------ Other products section -------------------*/

.rainjackets {
    margin-top: 0;
    justify-content: flex-start;
}

.rainjacket-images {
    border: 2px solid #A6937C;
}

.other-products-heading {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'tgn-soft-round', 'Gill Sans', sans-serif;
    color: #887966;
}

.fitting-for h5{
    margin: 0;
    font-family: 'tgn-soft-round', 'Gill Sans', sans-serif;
}

footer {
    margin-top: 50px;
}

/*------------------------ Other products section -------------------*/

@media (max-width: 1563px) {
    .cartButton {
        font-size: 20px;
        padding: 13px 50px;
    }
}
 /*------------------------ Laptop and tablet -------------------*/
@media (max-width: 1063px) {
    main {
        margin: 40px 40px 0 100px;
    }

    
}

@media (max-width: 890px) {
    .top {
        display: flex; 
        flex-direction: column;
    }

    .crumbs {
        display: block;
    }
    .jacketspec_left, .jacketspec_right {
        width: 100%;
    }

    .fitting-for, h4 {
        font-size: 14px;
    }

    .fitting-for {
        margin-bottom: 5px;
    }

    h4 {
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .jacketspec {
        width: 400px;
        margin-top: 10px;
    }

    
}

/*------------------------ Laptop and tablet -------------------*/


/*------------------------ Mobile -------------------*/

@media (max-width: 630px) {
    main {
        margin: 20px;
    }
    .jacketspec_left {
        width: 80%;
    }

    select {
        width: 90%;
        padding: 3px
    }

    .yellow {
        width: 80%;
        padding: 10px;
    }

    .fa-hiking, .fa-campground {
        font-size: 20px;
    }

    .other-products-heading  {
        text-align: center;
    }

    .rainjackets {
        text-align: center;
    }

    .rainjacket-images {
        width: 70%;
        margin: 0 auto;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    .rainjacket-info h5 {
        font-size: 12px;
    }
    
    .rainjacket-info h6 {
        font-size: 10px;
    } 

    

}

/*------------------------ Mobile -------------------*/



