body {
    margin: 0;
    padding: 0;
}



.forest_header {
    background-image: url('../images/forest-fog.jpg');
    background-size: cover;
    margin: 3% auto;
    margin: 40px 80px;
    text-align: center;
}

.productpage_heading {
    display: inline-block;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 0px #0A3641, 5px 4px 0px rgba(0,0,0,0.15);
    font-weight: 800;
    
}

.crumbs {
    margin-left: 80px;
    margin-top: 20px;
}

.rainjackets {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}


/*------------------------ Laptop styles -------------------*/


@media (max-width: 1231px) {

    .rainjacket-card {
        margin: 10px;
    }

    .forest_header {
        height: 100px;
    }

    .productpage_heading {
        margin: 0;
        padding: 10px;
    }
}

@media (max-width: 1063px) {
    .productpage {
        margin-left: auto;
        margin-right: auto;
    }

    
}

/*------------------------ Tablet and mobile styles -------------------*/

@media (max-width: 730px) {

    .crumbs {
        margin: 0 auto;
    }
    .rainjackets {
        display: flex;
        flex-direction: column;
    }
    .productpage_heading, .forest_header {
        margin: 0;
    }


    .productpage {
        align-items: center;
        text-align: center;
    }

    .rainjacket-images {
        border: 1px solid #245473;
    }

    

    .rainjacket-info h5 {
        font-size: 13px;
    }

    .rainjacket-info h6 {
        font-size: 11px;
    }
}

@media (max-width: 525px) {
    .newCollection {
        height: 200px;
    }
}

@media (max-width: 481px) {
    .productpage {
        text-align: center;
        
    }

   


}
